### Setup Dataset Dirs

In [6]:
nyc_tlc_data_dir = "/Users/iobruno/Vault/data-engineering-zoomcamp/datasets/nyc-tlc"
yellow_tripdata_dir = f"{nyc_tlc_data_dir}/yellow-trip-data"
green_tripdata_dir = f"{nyc_tlc_data_dir}/green-trip-data"

### EDA

In [8]:
import pandas as pd

In [9]:
dataset = f"{yellow_tripdata_dir}/yellow_tripdata_2021-01.csv.gz"

In [10]:
df_default = pd.read_csv(dataset)
df_default.info()

/var/folders/lh/sntnk0r13lx_36qp498x6n8r0000gn/T/ipykernel_40726/4161273285.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_default = pd.read_csv(dataset)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1369765 entries, 0 to 1369764
Data columns (total 18 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               1271413 non-null  float64
 1   tpep_pickup_datetime   1369765 non-null  object
 2   tpep_dropoff_datetime  1369765 non-null  object
 3   passenger_count        1271413 non-null  float64
 4   trip_distance          1369765 non-null  float64
 5   RatecodeID             1271413 non-null  float64
 6   store_and_fwd_flag     1271413 non-null  object
 7   PULocationID           1369765 non-null  int64
 8   DOLocationID           1369765 non-null  int64
 9   payment_type           1271413 non-null  float64
 10  fare_amount            1369765 non-null  float64
 11  extra                  1369765 non-null  float64
 12  mta_tax                1369765 non-null  float64
 13  tip_amount             1369765 non-null  float64
 14  tolls_amount           1369765 non-null  float64
 15  improvement_surcharge  1369765 non-null  float64
 16  total_amount           1369765 non-null  float64
 17  congestion_surcharge   1369765 non-null  float64
dtypes: float64(13), int64(2), object(3)
memory usage: 188.1+ MB

In [11]:
df_pyarrow = pd.read_csv(dataset, engine='pyarrow')
df_pyarrow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1369765 entries, 0 to 1369764
Data columns (total 18 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               1271413 non-null  float64
 1   tpep_pickup_datetime   1369765 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  1369765 non-null  datetime64[ns]
 3   passenger_count        1271413 non-null  float64
 4   trip_distance          1369765 non-null  float64
 5   RatecodeID             1271413 non-null  float64
 6   store_and_fwd_flag     1369765 non-null  object
 7   PULocationID           1369765 non-null  int64
 8   DOLocationID           1369765 non-null  int64
 9   payment_type           1271413 non-null  float64
 10  fare_amount            1369765 non-null  float64
 11  extra                  1369765 non-null  float64
 12  mta_tax                1369765 non-null  float64
 13  tip_amount             1369765 non-null  float64
 14  tolls_amount           1369765 non-null  float64
 15  improvement_surcharge  1369765 non-null  float64
 16  total_amount           1369765 non-null  float64
 17  congestion_surcharge   1369765 non-null  float64
dtypes: datetime64[ns](2), float64(13), int64(2), object(1)
memory usage: 188.1+ MB

In [12]:
df = df_pyarrow

In [13]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [14]:
df.tail()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
1369760,NaN,2021-01-25 08:32:04,2021-01-25 08:49:32,NaN,8.80,NaN,,135,82,NaN,21.84,2.75,0.5,0.0,0.0,0.3,25.39,0.0
1369761,NaN,2021-01-25 08:34:00,2021-01-25 09:04:00,NaN,5.86,NaN,,42,161,NaN,26.67,2.75,0.5,0.0,0.0,0.3,30.22,0.0
1369762,NaN,2021-01-25 08:37:00,2021-01-25 08:53:00,NaN,4.45,NaN,,14,106,NaN,25.29,2.75,0.5,0.0,0.0,0.3,28.84,0.0
1369763,NaN,2021-01-25 08:28:00,2021-01-25 08:50:00,NaN,10.04,NaN,,175,216,NaN,28.24,2.75,0.5,0.0,0.0,0.3,31.79,0.0
1369764,NaN,2021-01-25 08:38:00,2021-01-25 08:50:00,NaN,4.93,NaN,,248,168,NaN,20.76,2.75,0.5,0.0,0.0,0.3,24.31,0.0

### Load into Postgres

In [29]:
import numpy as np
import pandas as pd
from math import ceil
from sqlalchemy import create_engine
from typing import List, Tuple

In [30]:
conn_string = "postgresql://postgres:postgres@localhost:5433/ny_taxi"

In [31]:
engine = create_engine(conn_string)
conn = engine.connect()

In [32]:
df = pd.read_csv(dataset, engine='pyarrow')

In [33]:
def split_df_in_chunks_with(df: pd.DataFrame, max_chunk_size: int = 100000) -> Tuple[List[pd.DataFrame], int]:
    chunks_qty = ceil(len(df) / max_chunk_size)
    return np.array_split(df, chunks_qty), chunks_qty

In [34]:
def persist_df_with(df: pd.DataFrame, conn, table_name: str, if_table_exists='append'):
    df.to_sql(table_name, con=conn, if_exists=if_table_exists, index=False)

In [35]:
def persist_df(df: pd.DataFrame, max_chunk_size: int, conn, table_name: str, if_table_exists='append'):
    chunks, qty = split_df_in_chunks_with(df, max_chunk_size=max_chunk_size)
    for i, chunk in enumerate(chunks):
        persist_df_with(df=chunk, conn=conn, table_name=table_name, if_table_exists=if_table_exists)
        print(f"Done persisting Chunk #{i+1} out of {qty}")

In [36]:
persist_df(df, max_chunk_size=100000, conn=conn, table_name="temp_nyc_tlc_yellow_trips")

Done persisting Chunk #1 out of 14
Done persisting Chunk #2 out of 14
Done persisting Chunk #3 out of 14
Done persisting Chunk #4 out of 14
Done persisting Chunk #5 out of 14
Done persisting Chunk #6 out of 14
Done persisting Chunk #7 out of 14
Done persisting Chunk #8 out of 14
Done persisting Chunk #9 out of 14
Done persisting Chunk #10 out of 14
Done persisting Chunk #11 out of 14
Done persisting Chunk #12 out of 14
Done persisting Chunk #13 out of 14
Done persisting Chunk #14 out of 14

In [37]:
result_set = pd.read_sql(sql="select count(1) from temp_nyc_tlc_yellow_trips", con=conn)
row_count = int(result_set["count"])

In [38]:
assert(row_count == len(df))