In [1]:
from os import environ as env

from pyspark import SparkContext
from pyspark.conf import SparkConf
from pyspark.sql import DataFrame, SparkSession
from pyspark.sql.functions import col, dayofmonth
from pyspark.sql.types import *

## Spark Setup

In [2]:
!wget -nc https://storage.googleapis.com/hadoop-lib/gcs/gcs-connector-latest-hadoop2.jar -P /tmp/spark_jars -q

In [3]:
conf = (
    SparkConf()
        .setMaster('local[*]')
        .setAppName("pyspark-playground")
        .set("spark.cores.max", 4)
        .set("spark.driver.memory", "2g")
        .set("spark.executor.memory", "8g")
        .set("spark.sql.execution.arrow.pyspark.enabled", "true")
        .set("spark.jars", "/tmp/spark_jars/gcs-connector-latest-hadoop2.jar")
)

In [4]:
sc = SparkContext(conf=conf)
sc.setLogLevel("ERROR")

hadoop_conf = sc._jsc.hadoopConfiguration()
hadoop_conf.set("fs.AbstractFileSystem.gs.impl",  "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFS")
hadoop_conf.set("fs.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem")
hadoop_conf.set("fs.gs.auth.service.account.enable", "true")
hadoop_conf.set("fs.gs.auth.service.account.json.keyfile", env["GOOGLE_APPLICATION_CREDENTIALS"])

24/08/28 05:41:01 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [5]:
spark = SparkSession.builder.config(conf=conf).getOrCreate()

## Load Datasets from GCS

### FHV Dataset

In [6]:
raw_fhv = spark.read.parquet("gs://iobruno-lakehouse-raw/nyc_tlc_dataset/fhv_trip_data/fhv_tripdata_2019-10.snappy.parquet")

In [7]:
fhv = raw_fhv.select(
    col('dispatching_base_num'),
    col('Affiliated_base_number').alias('affiliated_base_num'),
    col('PUlocationID').alias('pickup_location_id'),
    col('DOlocationID').alias('dropoff_location_id'),
    col('pickup_datetime').cast('timestamp'),
    col('dropOff_datetime').cast('timestamp'),
    col('SR_Flag').alias('sr_flag'),
)

In [8]:
fhv.createOrReplaceTempView('fhv')

### Zone Lookup Dataset

In [9]:
zones_schema = StructType([
    StructField("LocationID", IntegerType(), True),
    StructField("Borough", StringType(), True),
    StructField("Zone", StringType(), True),
    StructField("service_zone", StringType(), True)
])

In [10]:
zones = spark.read.csv(
    path="gs://iobruno-lakehouse-raw/nyc_tlc_dataset/zone_lookup/*.csv.gz",
    header=True,
    inferSchema=False,
    schema=zones_schema,
)

In [11]:
zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [12]:
zones = zones.select(
    col('LocationID').alias('location_id'),
    col('Borough').alias('borough'),
    col('Zone').alias('zone'),
    col('service_zone')
)

In [13]:
zones.createOrReplaceTempView('zones')

## Homework

### Question 1

**Install Spark and PySpark** 

- Install Spark
- Run PySpark
- Create a local spark session
- Execute spark.version.

What's the output?

In [14]:
spark.version

'3.5.1'

### Question 2

**FHV October 2019**  
- Read the October 2019 FHV into a Spark Dataframe with a schema as we did in the lessons
- Repartition the Dataframe to 6 partitions and save it to parquet.

What is the average size of the Parquet (ending with .parquet extension) Files that were created (in MB)?  
Select the answer which most closely matches
- [ ] 1 MB
- [x] 6 MB
- [ ] 25 MB
- [ ] 87 MB

In [15]:
df = spark.sql("""SELECT * FROM fhv""")

In [16]:
df.repartition(6)\
    .write\
    .mode("overwrite")\
    .parquet("/tmp/dtc-homework/fhv/")

In [17]:
!ls -lh /tmp/dtc-homework/fhv/

total 76768
-rw-r--r--@ 1 iobruno  wheel     0B Aug 28 05:41 _SUCCESS
-rw-r--r--@ 1 iobruno  wheel   6.3M Aug 28 05:41 part-00000-4cfe1cd5-1982-42d1-b073-b9cebc35a241-c000.snappy.parquet
-rw-r--r--@ 1 iobruno  wheel   6.2M Aug 28 05:41 part-00001-4cfe1cd5-1982-42d1-b073-b9cebc35a241-c000.snappy.parquet
-rw-r--r--@ 1 iobruno  wheel   6.2M Aug 28 05:41 part-00002-4cfe1cd5-1982-42d1-b073-b9cebc35a241-c000.snappy.parquet
-rw-r--r--@ 1 iobruno  wheel   6.2M Aug 28 05:41 part-00003-4cfe1cd5-1982-42d1-b073-b9cebc35a241-c000.snappy.parquet
-rw-r--r--@ 1 iobruno  wheel   6.2M Aug 28 05:41 part-00004-4cfe1cd5-1982-42d1-b073-b9cebc35a241-c000.snappy.parquet
-rw-r--r--@ 1 iobruno  wheel   6.2M Aug 28 05:41 part-00005-4cfe1cd5-1982-42d1-b073-b9cebc35a241-c000.snappy.parquet

### Question 3

**Count records**  

How many taxi trips were there on the 15th of October?  

Consider only trips that started on the 15th of October
- [ ] 108,164
- [ ] 12,856
- [ ] 452,470
- [x] 62,610

In [18]:
spark.sql("""
    with trips_per_month_day as (
        select
            month(pickup_datetime) as month,
            dayofmonth(pickup_datetime) as day, 
            count(1) as num_trips
        from
            fhv
        group by 
            month(pickup_datetime), 
            dayofmonth(pickup_datetime)
    )

    select * 
    from trips_per_month_day 
    where 
        month = 10 
        and day = 15
""").take(1)

[Row(month=10, day=15, num_trips=62610)]

In [19]:
spark.sql("""
        select
            month(pickup_datetime) as month,
            dayofmonth(pickup_datetime) as day, 
            count(1) as num_trips
        from
            fhv
        group by 
            month(pickup_datetime), 
            dayofmonth(pickup_datetime)
        having 
            month = 10 and 
            day = 15
""").take(1)

[Row(month=10, day=15, num_trips=62610)]

### Question 4: 

**Longest trip for each day**  

What is the length of the longest trip in the dataset in hours?
- [x] 631,152.50 Hours
- [ ] 243.44 Hours
- [ ] 7.68 Hours
- [ ] 3.32 Hours

In [20]:
spark.sql("""
    with trip_records AS (
        select
            pickup_location_id,
            dropoff_location_id,
            pickup_datetime,
            dropoff_datetime,
            (cast(dropoff_datetime as long) - cast(pickup_datetime as long))/3600 as duration_in_hours
        from 
            fhv
    )

    select 
        duration_in_hours,
        dense_rank() over (order by duration_in_hours desc) as rnk
    from
        trip_records t

""").take(1)

[Row(duration_in_hours=631152.5, rnk=1)]

In [21]:
spark.sql("""
    with trip_records AS (
        select
            pickup_location_id,
            dropoff_location_id,
            pickup_datetime,
            dropoff_datetime,
            (cast(dropoff_datetime as long) - cast(pickup_datetime as long))/3600 as duration_in_hours
        from 
            fhv
    )

    select 
        duration_in_hours,
        dense_rank() over (order by duration_in_hours desc) as rnk
    from
        trip_records t
""").take(1)

[Row(duration_in_hours=631152.5, rnk=1)]

### Question 5: 

**User Interface**

Spark’s User Interface which shows the application's dashboard runs on which local port?

- [ ] 80
- [ ] 443
- [x] 4040
- [ ] 8080

### Question 6: 

**Least frequent pickup location zone**

Load the zone lookup data into a temp view in Spark [Zone Data](https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv)  

Using the zone lookup data and the FHV October 2019 data, what is the name of the LEAST frequent pickup location Zone?
- [ ] East Chelsea
- [x] Jamaica Bay
- [ ] Union Sq
- [ ] Crown Heights North

In [22]:
spark.sql("""
    with trips_per_location AS (
        select
            pickup_location_id,
            count(1) as num_trips,
            dense_rank() over (order by count(1) asc) as rnk
        from
            fhv
        group by
            pickup_location_id
    )

    select
        pu.zone,
        t.num_trips,
        t.rnk
    from
        trips_per_location t
    inner join
        zones pu on t.pickup_location_id = pu.location_id
    where
        rnk = 1
""").take(1)

[Row(zone='Jamaica Bay', num_trips=1, rnk=1)]